@import "tailwindcss";
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
}

.header, .footer {
  padding: 20px;
  background: #d3d3d3;
  text-align: center;
}

.game-type-selector {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 30px;
  flex-wrap: wrap;
}

.type-card {
  background: white;
  padding: 20px;
  text-align: center;
  width: 200px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.type-card.active {
  background-color: rgb(102, 102, 208); /* Active button color */
  color: white;
}
.icon {
  font-size: 25px;

}

.proceed-btn, .confirm-btn, .next-btn {
  margin-top: 100px;
  padding: 10px 30px;
  height: 40px;
  border: none;
  background: #ff8c42;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.2);
  cursor: pointer;
}
.proceed-btn:hover, .confirm-btn:hover, .next-btn:hover{
 background-color: #864a22;
}


.search-clue {
  padding: 30px;
  text-align: center;
}

.search-clue input {
  padding: 10px;
  width: 60%;
  border-radius: 20px;
  border: 1px solid #333;
  margin-right: 10px;
}

.clue-display {
  background: #523636;
  color: orange;
  padding: 30px;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  width: 80%;
}

.clue-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.clue-icon {
  background: cyan;
  padding: 10px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
